/* CSS Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* color */
:root{
    --pink: #FF1493;
    --blue: #6ecbf2;
}

/* generics */
body{
    font-family: 'Fredoka', cursive;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

/* utility */

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}



/* header */
h1{
    font-size: 50px;
    color: var(--pink);
    text-align: center;
    margin: 50px 0;
    font-family: 'Fredoka one', stronger;
}

/* main */
p{
    font-size: 20px;
    font-style: normal;
    text-align: center;
}

row{
    margin: 0 --1rem;
}
.colum{
    float: left;
    width: calc(100% / 3);
    padding: 10px;
    
}

.cards{
    height: 150px;
    background-color: black;
    margin-top: 20px;
    color:white;
    
}

.ci{
    height: 100%;
    float: left;
    margin-right: 10px;
}

.ct{
    padding: 10px;
    line-height: calc(80px / 3);
   
}

h3{ margin-top: 35px;

}

.work{

}

a{
    text-decoration: none;
    color: var(--blue);
}